@page
@model Lana_jewelry.Pages.Transports.TransportPage

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Transport.TransportId" class="control-label"></label>
                <input asp-for="Transport.TransportId" class="form-control" />
                <span asp-validation-for="Transport.TransportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transport.CostumerAddress" class="control-label"></label>
                <input asp-for="Transport.CostumerAddress" class="form-control" />
                <span asp-validation-for="Transport.CostumerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transport.TransportPrice" class="control-label"></label>
                <input asp-for="Transport.TransportPrice" class="form-control" />
                <span asp-validation-for="Transport.TransportPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transport.TransportDuration" class="control-label"></label>
                <input asp-for="Transport.TransportDuration" class="form-control" />
                <span asp-validation-for="Transport.TransportDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index"asp-page-handler="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
