@page
@model Lana_jewelry.Pages.Transports.TransportPage
@using Lana_jewelry.Pages.Extensions

@{
     Layout = "_Create";
}
<body>
    @Html.MyEditorFor(x => x.Transport.TransportId)
    <partial name="_EditTransport"/>
 </body> 
