@page
@model Lana_jewelry.Pages.Transports.TransportPage

@{
    Layout = "_Edit";
}
<body>
     <input type="hidden" asp-for="Transport.TransportId" />
     <partial name="_EditTransport"/>
</body>
           
