@page
@model Lana_jewelry.Pages.Costumers.CostumersPage
@using Lana_jewelry.Pages.Extensions


@{
     Layout = "_Create";
}
<body>
    @Html.MyEditorFor(x => x.Costumer.Id)
    <partial name="_EditCostumer"/>
 </body> 
